
.container
{
    padding: 0px 90px 0 10px;
}

.carousel {
    height: 90%;
    padding: 0px 80px;
}

.d-block {
    height: 90%;
}
.img-thumbnail{
    margin-top: 50px;
    margin-right: 5px;
    margin-bottom: 50px;

}
#galeria{
    text-align: center;
    padding: 80px 80px;;
}
footer{
    background-color:goldenrod;
    text-align: center;
    height: 80px;
    padding-top: 40px;
    padding-left: 40px;
}